In [ ]:
import pandas as pd
df=pd.read_csv('D:\\ML\\fooddelivery\Food_Delivery_Dataset.csv')
print(df)

In [45]:
df.describe()

,order_distance_km,delivery_partner_rating,restaurant_rating,delivery_time_min
count,4974.000000,4975.000000,5050.000000,4899.000000
mean,12.713969,3.755337,3.494277,98.109536
std,7.118125,0.734255,0.874783,50.460971
min,0.500000,2.500000,2.000000,10.000000
25%,6.500000,3.100000,2.700000,56.604047
50%,12.775000,3.800000,3.500000,94.329556
75%,18.930000,4.400000,4.300000,133.925423
max,25.000000,5.000000,5.000000,274.313000

In [ ]:
df.info()

In [ ]:
df['order_distance_km']=df['order_distance_km'].fillna(df['order_distance_km'].mean())

In [49]:
df['delivery_partner_rating' ]=df['delivery_partner_rating'].fillna(0)
df['delivery_time_min']=df['delivery_time_min'].fillna(df['delivery_time_min'].mean())

In [ ]:
df.order_time.unique()
df.traffic_condition .unique()
df.platform.unique()

array(['ubereats', 'swiggy', 'zomato'], dtype=object)

In [ ]:
df.traffic_condition .unique()

In [52]:
df.food_type.unique()

array(['non-veg', 'veg'], dtype=object)

In [56]:
categorical_column=['order_time','traffic_condition','platform','food_type','customer_note']
for col in categorical_column:
    print(df[col].unique())

['night' 'afternoon' 'morning' 'evening']
['moderate' 'low' 'high']
['ubereats' 'swiggy' 'zomato']
['non-veg' 'veg']
['no onions' 'contactless' 'deliver fast' 'extra spicy' 'leave at door']