In [9]:
import pandas as pd
df=pd.read_csv('D:\\ML\\Cardekho\CarDekho_Dataset1.csv')

In [10]:
#df=pd.read_csv(path)
df.head(10)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,22598.720477,70000.0,petrol,individual,manual,first owner
1,Maruti Wagon R LXI Minor,2007,26248.935936,50000.0,petrol,individual,manual,first owner
2,Hyundai Verna 1.6 SX,2012,30048.313952,100000.0,diesel,individual,manual,first owner
3,Datsun RediGO T Option,2017,103341.409675,46000.0,petrol,individual,manual,first owner
4,Honda Amaze VX i-DTEC,2014,20000.000000,141000.0,diesel,individual,manual,second owner
5,Maruti Alto LX BSIII,2007,20000.000000,125000.0,petrol,individual,manual,first owner
6,Hyundai Xcent 1.2 Kappa S,2016,103292.128155,25000.0,petrol,individual,manual,first owner
7,Tata Indigo Grand Petrol,2014,53007.680625,60000.0,petrol,individual,manual,2nd owner
8,Hyundai Creta 1.6 VTVT S,2015,73714.347050,25000.0,petrol,individual,manual,first owner
9,Maruti Celerio Green VXI,2017,70325.600436,78000.0,cng,individual,manual,first owner

In [11]:
df.describe()

              year  selling_price      km_driven
count  4345.000000    4315.000000    4315.000000
mean   2013.091139   60073.454525   66296.218772
std       4.215094   40253.780044   46679.004340
min    1992.000000   20000.000000       1.000000
25%    2011.000000   20366.330957   35000.000000
50%    2014.000000   48849.943102   60000.000000
75%    2016.000000   87910.684204   90000.000000
max    2020.000000  226100.037576  806599.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4345 entries, 0 to 4344
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4345 non-null   object
 1   year           4345 non-null   int64
 2   selling_price  4315 non-null   float64
 3   km_driven      4315 non-null   float64
 4   fuel           4345 non-null   object
 5   seller_type    4345 non-null   object
 6   transmission   4345 non-null   object
 7   owner          4345 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 271.7+ KB

In [ ]:
df.fuel.unique()

array(['petrol', 'diesel', 'cng', 'Petrol', 'lpg', 'cnG', 'Diesel',
       'PETROL', 'CNG', 'electric'], dtype=object)

In [ ]:
df.seller_type.unique()

array(['individual', 'dealer', 'Dealer', 'INDIVIDUAL', 'Individual',
       'trustmark dealer'], dtype=object)

In [ ]:
df.transmission.unique()

array(['manual', 'automatic', 'MANUAL', 'Manual', 'Automatic', 'auto'],
      dtype=object)

In [ ]:
df.owner.unique()

array(['first owner', 'second owner', '2nd owner', 'FIRST OWNER',
       'fourth & above owner', 'third owner', 'First Owner',
       'Second Owner', 'test drive car'], dtype=object)

In [ ]:
mapping_fuel={'petrol':'Petrol','diesel':'Diesel','cng':'CNG','PETROL':'Petrol','cnG':'CNG','lpg':'LPG','electric':'Electric'}
df['fuel']=df['fuel'].replace(mapping_fuel)
df.fuel.unique()

array(['Petrol', 'Diesel', 'CNG', 'LPG', 'Electric'], dtype=object)

In [ ]:
mapping_seller={'individual':'Individual','dealer':'Dealer','INDIVIDUAL':'Individual','trustmark dealer':'Trustmark Dealer'}
df['seller_type']=df['seller_type'].replace(mapping_seller)
df.seller_type.unique()

array(['Individual', 'Dealer', 'Trustmark Dealer'], dtype=object)

In [ ]:
mapping_transmission={'manual':'Manual','MANUAL':'Manual','auto':'Auto','automatic':'Automatic'}
df['transmission']=df['transmission'].replace(mapping_transmission)
df.transmission.unique()

array(['Manual', 'Automatic', 'Auto'], dtype=object)

In [ ]:
mapping_owner={'first owner':'1st Owner','FIRST OWNER':'1st Owner','First Owner':'1st Owner','second owner':'2nd Owner','2nd owner':'2nd Owner',
               'Second Owner':'2nd Owner','third owner':'3rd Owner','fourth & above owner':'4rth & Above Owner','test drive car':'Test Drive Car'}
df['owner']=df['owner'].replace(mapping_owner)
df.owner.unique()

array(['1st Owner', '2nd Owner', '4rth & Above Owner', '3rd Owner',
       'Test Drive Car'], dtype=object)

In [ ]:
df_clean=df.dropna(subset=['selling_price','km_driven'])
#df_clean=df.dropna()
#df_clean.info()